<footer>
  <br>
  <br>
  
    <nav class="navbar fixed-bottom"  style="background-color: rgb(63, 122, 124);">
      <h1 class="navbar-text" style="font-size: small;  color: white;">&copy;2023 All rights reserved</h1>

    </nav>

  </footer>